.text-centered{
    text-align: center;
}

.bg-purple{
    background-color: var(--bs-purple);
}

.bg-purple2{
    background-color: #A96BFE;
}

.bg-purple-blue{
    background-color: #8F78BF;
}

.bg-purple-yahoo{
    background-color: rgb(88, 14, 202);
}

.bg-purple-nu{
    background-color: rgb(95, 39, 169);
}

.bg-purple-nu-claro{
    background-color: rgb(155, 110, 221);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    color: var(--bs-gray-400);
}

.container-center{
    display: flex;
    justify-content: center;
}

.row-map{
    justify-content: center;
}