.container-footer{
    position: relative;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1.2rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(95, 39, 169);
}

span{
    box-sizing: border-box;
    margin-top: 24px;
    font-size: inherit;
    text-align: center;
    display: block;
}